@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

*{
  box-sizing: border-box;
}


body{
  font-family: "Marcellus", serif;
  background-color: rgba(235, 208, 224, 0.93);
  color: rgb(21, 13, 1);
  display: flex;
  justify-content: center;
  min-width: 800px;
  background-image: linear-gradient(rgb(193, 224, 249), rgb(245, 244, 193));
  /* background-image: linear-gradient(to top, rgba(147, 147, 147, 0.239), rgb(255, 165, 243)); */
}
    /* width: 100%; */
  

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    height: auto;
}
  
  
header{
    /* background-color: rgba(254, 254, 254, 0.551); */
    display:flex;
  }
  
  .header{
    display:flex;
    justify-content: center;
    width: 100%; 
  }
  
.myImage{
    display: flex;
    /* margin: 0 10px; */
    align-items: center;
  }
  
.head-myInfo{
    /* background-color: rgb(252, 177, 177); */
    margin-left: 1rem;
    width: 60rem;
    overflow-wrap: break-word; 
  }
  
  main{
    /* background-color: rgba(245, 149, 149, 0.5); */
    margin-left: 3rem;
    width: 60rem;
    overflow-wrap: break-word;
  }
  
  .main-section{
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 1rem;
    overflow-wrap: break-word;
    margin-bottom: 1rem; /* Добавляем отступ снизу */
    /* background-color: red; */
  }
  
  aside{
    /* background-color: rgba(99, 245, 253, 0.5); */
    width: 20rem;
    margin-left: 1rem;
    box-sizing: border-box;
    position:relative;
    /* border-right: thick solid; */
  }
  
  aside::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 40rem;
    width: 5px; 
    background-color: white; 
  }
  
  
  footer{
    background-color: rgba(78, 95, 96, 0.5);
    margin-top: auto;
  }
  
  h1{
    font-size: 4rem;
  }

  h2{
    font-weight: bold;
    font-size: 3rem;
  }

  li{
    font-size: 1.5rem;
  }

pre{
  background-color: rgba(108, 96, 96, 0.254);
  display:inline-block;
  justify-content: center;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  border: none;
  border-style: none;
  padding: 30px;
}
  
@media (width < 800px) {

  body{
    min-width: 800px;
    width: 100%;
  }

  .myImage{
    display: flex;;
  }

  .container{
    justify-content: center;
    display:block;
  }

  .header{
    width: 100%;
    height: auto;
  }

  .main-section{
    display:block;
    height: auto;
  }  
  
  aside{
    width: 100%;
    margin-top: 1rem;
  }

  aside::after{
    display:none;
  }

  h2{
    font-weight: 5rem;
  }

  /* aside::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 5px; 
    background-color: white;
  } */
}
  
  
  
  
  